apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "access_key": "your access_key",
      "secret_key": "your secret_key",
      "region": "region for volcengine/more info can be found => https://www.volcengine.com/docs/6407/74604"
    }
